{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

    <div class="container">
    <form>
        <div class="form-group">
        <label for="exampleFormControlInput1">age</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="How Old are you?">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">housing</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">credit_score</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">deposits</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">withdrawal</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">purchases_partners</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">purchases</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">cc_taken</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">cc_recommended</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">cc_disliked</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">cc_liked</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">cc_application_begin</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">app_downloaded</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">web_user</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">app_web_user</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">ios_user</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">android_user</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">registered_phones</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">payment_type</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">waiting_4_loan</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">cancelled_loan</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">received_loan</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">rejected_loan</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">zodiac_sign</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">left_for_two_month_plus</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">left_for_one_month</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">rewards_earned</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">reward_rate</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        <div class="form-group">
        <label for="exampleFormControlInput1">is_referred</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>

        

        <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>


{% endblock %}